<%= simple_form_for(@movement) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :due_date %>
    <%= f.input :description %>
    <%= f.input :value %>
    <%= f.input :credit, as: :radio_buttons, label: false, collection: [["Crédito/Recebimento", "1"], ["Débito/Pagamento", "0"]] %>
    <%= f.association :course_class, collection: CourseClass.includes(:course).order("courses.code, city, identifier desc") %>
    <%= f.association :account, collection: Account.ordered_list %>
    <%= f.association :result_center %>
    <%= f.association :bank %>
    <%= f.input :transfer, inline_label: "Transferência", label: false %>
    <%= f.association :to_bank %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
