<h1>Movimentos Financeiros</h1>
 
<%= form_tag(movements_path, method: :get) do %>
<b>Mostrar:</b> <%= link_to "Últimos 3 dias", movements_path(:sd => 3.days.ago.strftime("%Y-%m-%d")) %>&nbsp;
<%= link_to "Últimos 7 dias", movements_path(:sd => 7.days.ago.strftime("%Y-%m-%d")) %>&nbsp;
<%= link_to "Últimos 15 dias", movements_path(:sd => 15.days.ago.strftime("%Y-%m-%d")) %>&nbsp;
<%= link_to "Últimos 30 dias", movements_path(:sd => 30.days.ago.strftime("%Y-%m-%d")) %><br />
Começando em <%= date_field_tag "sd", params[:sd] %> até <%= date_field_tag "ed", params[:ed] %>
Descrição: <%= text_field_tag "d", params[:d] %>
<%= submit_tag "Pesquisar" %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Data</th>
      <th>Description</th>
      <th>Valor</th>
      <th>Turma</th>
      <th>Conta</th>
      <th>Centro de Resultado</th>
      <th>CC/Caixa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movements.each do |movement| %>
      <tr>
        <td><%= l movement.due_date %></td>
        <td><%= movement.description %></td>
        <td style="text-align: right;"><%= number_to_currency movement.value, unit: "" %>&nbsp;<%= movement.credit ? "C" : "D" %></td>
        <td><%= movement.course_class %></td>
        <td><%= movement.account %></td>
        <td><%= movement.result_center %></td>
        <td><%= movement.bank %></td>
        <td><%= link_to 'Ver', movement %></td>
        <td><%= link_to 'Editar', edit_movement_path(movement) %></td>
        <td><%= link_to 'Apagar', movement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo lançamento', new_movement_path %> | <%= link_to 'Relatório para Contabilidade', accountant_movements_path %>
