<p id="notice"><%= notice %></p>

<p>
  <strong>Código da turma:</strong>
  <%= @course_class.identifier %>
</p>

<p>
  <strong>Programa:</strong>
  <%= @course_class.course %>
</p>

<p>
  <strong>Trainers:</strong>
  <%= @course_class.trainer_names %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @course_class.city %>
</p>

<p>
  <strong>Local das Sessões:</strong>
  <%= @course_class.address %>
</p>

<p>
  <strong>Datas das Sessões:</strong>
  <%= @course_class.class_dates %>
</p>

<p>
  <strong>Horário:</strong>
  <%= @course_class.class_times %>
</p>

<p>
  <strong>Participantes:</strong>
</p>
<table class="table table-striped">
  <thead>
    <th>Nome</th>
    <th>Telefone</th>
    <th>Celular</th>
    <th>E-mail</th>
    <th>
  </thead>
  <tbody>
    <% @course_class.subscriptions.each do |s| %>
    <tr>
      <td><%= s.participant.name %></td>
      <td><%= s.participant.phone %></td>
      <td><%= s.participant.cellphone %></td>
      <td><%= s.participant.email %></td>
      <td><%= link_to 'Ver', s %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_course_class_path(@course_class) %> |
<%= link_to 'Back', course_classes_path %>
