<h1><%= I18n.t("payment_documents.generate") %></h1>
<% @open_subscriptions.each do |s| %>
<div class="form-inputs panel panel-primary">
    <div class="panel-body">
        <%= render partial: "details", object: s %>
        <% if s.has_observations? %>
        <p>
            <%= link_to "Editar datas de vencimento e valores", payment_documents_edit_url(subscription_id: s.id) %> 
        </p>
        <% end %>
        <table class="table table-striped" style="width: 500px;">
          <thead>
            <tr>
              <th>N&uacute;mero do documento</th>
              <th>Data de Vencimento</th>
              <th>Valor</th>
            </tr>
          </thead>
          <tbody>
            <% s.payment_documents.each do |d| %>
              <tr>
                <td><%= d.document_number %></td>
                <td><%= l d.due_date %></td>
                <td><%= number_to_currency d.value %></td>
            <% end %>
          </tbody>
        </table>
        <p>
            Pagador: <b><%= s.payer.name %></b>
            CPF/CNPJ: <b><%= s.payer.document %></b><br />
            CEP: <b><%= s.payer.postal_code %></b>
            Endereço: <b><%= s.payer.address %></b><br />
            Bairro: <b><%= s.payer.neighborhood %></b>
            Cidade: <b><%= s.payer.city %></b>
            Estado: <b><%= s.payer.state %></b>
        </p>
        <%= simple_form_for(s.payment_documents.first,
                            :html => {multipart: true},
                            :url => url_for(:action => 'insert', :controller => 'payment_documents'),
                            :method => 'post') do |f| %>
            <%= f.association :bank, collection: Bank.financial, label: "Banco emissor dos boletos:" %>
            <p style="font-weight: bold;">
                Carregar PDF com os boletos:
            </p>
            <%= f.file_field :doc_file %>
            <%= f.input :id, :as => :hidden, :input_html => { :value => s.payment_documents.first.id } %>
            <%= f.button :submit %>
        <% end %>
    </div>
</div>
<% end %>
