<p>
  <strong>Name:</strong>
  <%= participant.name %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= participant.cpf %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= participant.birthday %>
</p>

<p>
  <strong>Marital state:</strong>
  <%= participant.marital_state %>
</p>

<p>
  <strong>Address:</strong>
  <%= participant.address %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= participant.neighborhood %>
</p>

<p>
  <strong>City:</strong>
  <%= participant.city %>
</p>

<p>
  <strong>State:</strong>
  <%= participant.state %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= participant.postal_code %>
</p>

<p>
  <strong>Phone:</strong>
  <%= participant.phone %>
</p>

<p>
  <strong>Cellphone:</strong>
  <%= participant.cellphone %>
</p>

<p>
  <strong>Email:</strong>
  <%= participant.email %>
</p>

<p>
  <strong>Profession:</strong>
  <%= participant.profession %>
</p>

<p>
  <strong>Job description:</strong>
  <%= participant.job_description %>
</p>