<h1>Outras Funções Administrativas</h1>

<ul>
<li><%= link_to 'Usuários', users_path %></li>
<li><%= link_to 'Vendedores', salesmen_path %></li>
<li><%= link_to 'Trainers', trainers_path %></li>
<li><%= link_to 'Cursos', courses_path %></li>
<li><%= link_to 'Plano de Contas', accounts_path %></li>
<li><%= link_to 'Bancos', banks_path %></li>
<li><%= link_to 'Centros de Resultado', result_centers_path %></li>
</ul>
