<%= simple_form_for(@salesman) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :bank %>
    <%= f.input :agency %>
    <%= f.input :account %>
    <%= f.input :operation %>
    <%= f.input :identifier %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
