<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @salesman.name %>
</p>

<p>
  <strong>Bank:</strong>
  <%= @salesman.bank %>
</p>

<p>
  <strong>Agency:</strong>
  <%= @salesman.agency %>
</p>

<p>
  <strong>Account:</strong>
  <%= @salesman.account %>
</p>

<p>
  <strong>Operation:</strong>
  <%= @salesman.operation %>
</p>

<%= link_to t("commands.edit"), edit_salesman_path(@salesman) %> |
<%= link_to t("commands.back"), salesmen_path %>
