<%= simple_form_for(@subscription) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs panel panel-primary">
    <div class="panel-heading">Dados da Venda</div>
    <div class="panel-body">
      <%= f.association :course_class, collection: CourseClass.future, input_html: {
          dataUrl: prices_course_class_path(':course_class_id', format: :json),
          dataTarget: '#subscription_price_id'
        } %>
    <% if current_user.admin? %>
      <%= f.association :salesman %>
    <% else %>
      <%= hidden_field_tag "subscription[salesman_id]", current_user.salesman.id %>
    <% end %>
    </div>
  </div>
  <div class="form-inputs panel panel-primary">
    <div class="panel-heading">Dados do Participante</div>
    <div class="panel-body">
    <%= f.simple_fields_for :participant do |pf| %>
      <%= pf.input :name %>
      <%= pf.input :birthday, as: :date, start_year: Date.today.year - 90, end_year: Date.today.year - 12 %>
      <%= pf.input :marital_state %>
      <%= pf.input :address %>
      <%= pf.input :neighborhood %>
      <%= pf.input :phone, hint: "Telefone com DDD" %>
      <%= pf.input :cellphone, hint: "Telefone com DDD" %>
      <%= pf.input :city %>
      <%= pf.input :state %>
      <%= pf.input :postal_code %>
      <%= pf.input :email %>
      <%= pf.input :cpf %>
      <%= pf.input :profession %>
      <%= pf.input :job_description %>
    <% end %>
    </div>
  </div>
  <div class="form-inputs panel panel-primary">
    <div class="panel-heading">Dados da Empresa</div>
    <div class="panel-body">
    <%= f.simple_fields_for :company do |cf| %>
      <%= cf.input :name %>
      <%= cf.input :address %>
      <%= cf.input :neighborhood %>
      <%= cf.input :phone, hint: "Telefone com DDD" %>
      <%= cf.input :postal_code %>
      <%= cf.input :city %>
      <%= cf.input :state %>
      <%= cf.input :cnpj %>
      <%= cf.input :responsible_name %>
      <%= cf.input :responsible_job_description %>
      <%= cf.input :responsible_email %>
      <%= cf.input :county_subscription %>
    <% end %>
    </div>
  </div>
  <div class="form-inputs panel panel-primary">
    <div class="panel-heading">Dados de Cobrança</div>
    <div class="panel-body">
      <a name="conditions"></a>
      <%= f.input :price_id, as: :select, collection: ["Escolha a turma"], include_blank: false %> <%= link_to "Atualizar forma de pagamento", "#conditions", onclick: "$('#subscription_course_class_id').priceSelectable();$('#subscription_course_class_id').trigger('change');$('#link_update').delete();", id: "link_update" %>
      <%= f.input :payment_method, collection: [["Boleto bancário", "B"], ["Depósito em conta corrente", "D"], ["Cheques", "C"]] %>
      <%= f.input :first_payment_date, as: :date, start_year: Date.today.year, end_year: Date.today.year + 1 %>
      <%= f.input :charge_company, as: :radio_buttons %>
      <%= f.input :retains_iss, as: :radio_buttons %>
      <%= f.input :observations %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
