<%= simple_form_for(@subscription) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs panel panel-primary">
    <div class="panel-heading">Dados da Venda</div>
    <div class="panel-body">
      <% if @subscription.new_record? then %>
        <%= f.association :course_class, collection: CourseClass.future, input_html: {
            dataUrl: prices_course_class_path(':course_class_id', format: :json),
            dataTarget: '#subscription_price_id'
          } %>
      <% else %>
        <%= f.label :course_class %>
        <%= f.hint @subscription.course_class.to_s %>
      <% end %>
    <% if current_user.admin? %>
      <%= f.association :salesman %>
    <% else %>
      <%= f.input :salesman, as: :hidden %>
    <% end %>
    </div>
  </div>
  <div class="form-inputs panel panel-primary">
    <div class="panel-heading">Dados do Participante</div>
    <div class="panel-body">
    <%= f.simple_fields_for :participant do |pf| %>
      <%= pf.input :name %>
      <%= pf.input :birthday, as: :date, start_year: Date.today.year - 90, end_year: Date.today.year - 12 %>
      <%= pf.input :marital_state %>
      <%= pf.input :address %>
      <%= pf.input :neighborhood %>
      <%= pf.input :phone, hint: "Telefone com DDD" %>
      <%= pf.input :cellphone, hint: "Telefone com DDD" %>
      <%= pf.input :city %>
      <%= pf.input :state, input_html: { maxlength: 2 } %>
      <%= pf.input :postal_code %>
      <%= pf.input :email %>
      <%= pf.input :cpf %>
      <%= pf.input :profession %>
      <%= pf.input :job_description %>
    <% end %>
    </div>
  </div>
  <div class="form-inputs panel panel-primary">
    <div class="panel-heading">Dados da Empresa</div>
    <div class="panel-body">
    <%= f.simple_fields_for :company do |cf| %>
      <%= cf.input :name %>
      <%= cf.input :address %>
      <%= cf.input :neighborhood %>
      <%= cf.input :phone, hint: "Telefone com DDD" %>
      <%= cf.input :postal_code %>
      <%= cf.input :city %>
      <%= cf.input :state %>
      <%= cf.input :cnpj %>
      <%= cf.input :responsible_name %>
      <%= cf.input :responsible_job_description %>
      <%= cf.input :responsible_email %>
      <%= cf.input :county_subscription %>
    <% end %>
    </div>
  </div>
  <div class="form-inputs panel panel-primary">
    <div class="panel-heading">Dados de Cobrança</div>
    <div class="panel-body">
      <!-- TODO: futuramente permitir editar forma de pagamento caso não tenha gerado documentos @subscription.has_generated_payment_documents?-->
      <p>Depois de digitados, os dados de cobrança só podem ser alterados pelo escritório.</p>
      <% unless @subscription.new_record? %>
        <%= f.label :price %>
        <%= f.hint @subscription.price.to_s %>
        <%= f.input :price_id, as: :hidden %>
        <%= f.label :payment_method %>
        <%= f.hint @subscription.payment_method %>
        <%= f.input :payment_method, as: :hidden %>
        <%= f.label :first_payment_date %>
        <%= f.hint l(@subscription.first_payment_date) %>
        <%= f.input :first_payment_date, as: :hidden %>
        <%= f.label :charge_company %>
        <%= f.hint (@subscription.charge_company ? "Sim" : "Não") %>
        <%= f.input :charge_company, as: :hidden %>
        <%= f.label :retains_iss %>
        <%= f.hint (@subscription.retains_iss ? "Sim" : "Não") %>
        <%= f.input :retains_iss, as: :hidden %>
        <% unless @subscription.observations == nil || @subscription.observations.empty? %>
        <%= f.label :observations %>
        <%= f.hint @subscription.observations %>
        <% end %>
      <% else %>
        <a name="conditions"></a>
        <%= f.input :price_id, as: :select, collection: ["Escolha a turma"], include_blank: false %> <%= link_to "Atualizar forma de pagamento", "#conditions", onclick: "$('#subscription_course_class_id').priceSelectable();$('#subscription_course_class_id').trigger('change');$('#link_update').delete();", id: "link_update" %>
        <%= f.input :payment_method, collection: [["Boleto bancário", "B"], ["Depósito em conta corrente", "D"], ["Cheques", "C"]] %>
        <%= f.input :first_payment_date, as: :date, start_year: Date.today.year, end_year: Date.today.year + 1 %>
        <%= f.input :charge_company, as: :radio_buttons %>
        <%= f.input :retains_iss, as: :radio_buttons %>
        <%= f.input :observations %>
      <% end %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
