<p id="notice"><%= notice %></p>

<p>
  <strong>Participant:</strong>
  <%= @subscription.participant %>
</p>

<p>
  <strong>Course class:</strong>
  <%= @subscription.course_class %>
</p>

<p>
  <strong>Company:</strong>
  <%= @subscription.company %>
</p>

<p>
  <strong>Salesman:</strong>
  <%= @subscription.salesman %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @subscription.amount %>
</p>

<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
