<p id="notice"><%= notice %></p>

<p>
  <strong>Participant:</strong>
  <%= render @subscription.participant %>
</p>

<p>
  <strong>Company:</strong>
  <%= render @subscription.company unless @subscription.company == nil %>
</p>

<p>
  <strong>Course class:</strong>
  <%= @subscription.course_class %>
</p>

<p>
  <strong>Company:</strong>
  <%= @subscription.company %>
</p>

<p>
  <strong>Salesman:</strong>
  <%= @subscription.salesman %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @subscription.amount %>
</p>

<p>
  <strong>Payments:</strong>
</p>

<table class="table table-striped" id="subscription_payment_documents">
  <thead>
    <% if @subscription.payment_method_requires_payment_document_input? %>
    <th>Banco</th>
    <th>Agência</th>
    <th>Conta</th>
    <th>Nome do Emitente</th>
    <% end %>
    <th>Número do Documento</th>
    <th>Vencimento</th>
    <th>Valor</th>
    <th>Arquivo</th>
    <th>Pago?</th>
    <th><%= (@subscription.payment_method_requires_payment_document_input? ? "Depositado no" : "Gerado no" ) + " banco" %> </th>
  </thead>
  <tbody>
    <% @subscription.payment_documents.each do |p| %>
      <tr>
        <% if @subscription.payment_method_requires_payment_document_input? %>
        <td><%= p.origin_bank %></td>
        <td><%= p.agency %></td>
        <td><%= p.account %></td>
        <td><%= p.emittent %></td>
        <% end %>
        <td><%= p.document_number %></td>
        <td><%= l(p.due_date) %> %></td>
        <td style="text-align: right;"><%= number_to_currency p.value %></td>
        <td><%= link_to("Visualizar", p.doc_file.url, target: "_blank") if p.doc_file? %></td>
        <td><%= p.paid_date == nil ? "Não" : raw("#{p.paid_date} #{link_to(image_tag("zoom.png"), p.movement)}") %></td>
        <td><%= p.bank %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Novo lançamento', new_subscription_path %> |
<%= link_to 'Lista de lançamentos', subscriptions_path %> |
<%= link_to 'Corrigir este lançamento', edit_subscription_path(@subscription) %> |
<% if @subscription.payment_method_requires_payment_document_generation? %>
Editar forma de pagamento
<% end %>