<p id="notice"><%= notice %></p>

<p>
  <strong>Participant:</strong>
  <%= @subscription.participant %>
</p>

<p>
  <strong>Participant Email:</strong>
  <%= @subscription.participant.email %>
</p>

<p>
  <strong>Course class:</strong>
  <%= @subscription.course_class %>
</p>

<p>
  <strong>Company:</strong>
  <%= @subscription.company %>
</p>

<p>
  <strong>Salesman:</strong>
  <%= @subscription.salesman %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @subscription.amount %>
</p>

<p>
  <strong>Payments:</strong>
</p>

<table class="table table-striped">
  <thead>
    <% if @subscription.payment_method_requires_payment_document_input? %>
    <th>Banco</th>
    <th>Agência</th>
    <th>Conta</th>
    <% end %>
    <th>Número do Documento</th>
    <th>Vencimento</th>
    <th>Valor</th>
    <th>Arquivo</th>
    <th>Pago?</th>
  </thead>
  <tbody>
    <% @subscription.payment_documents.each do |p| %>
      <tr>
        <% if @subscription.payment_method_requires_payment_document_input? %>
        <td><%= p.bank %></td>
        <td><%= p.agency %></td>
        <td><%= p.account %></td>
        <% end %>
        <td><%= p.document_number %></td>
        <td><%= p.due_date %></td>
        <td><%= p.value %></td>
        <td><%= link_to("Visualizar", p.doc_file.url, target: "_blank") if p.doc_file? %></td>
        <td><%= p.paid_date == nil ? "Não" : p.paid_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Novo lançamento', new_subscription_path %> |
<%= link_to 'Lista de lançamentos', subscriptions_path %> |
<%= link_to 'Corrigir este lançamento', edit_subscription_path(@subscription) %> |
<% if @subscription.payment_method_requires_payment_document_generation? %>
Editar forma de pagamento
<% end %>