<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @price.course %>
</p>

<p>
  <strong>Description:</strong>
  <%= @price.description %>
</p>

<p>
  <strong>Payment value:</strong>
  <%= @price.payment_value %>
</p>

<p>
  <strong>Payment quantity:</strong>
  <%= @price.payment_quantity %>
</p>

<p>
  <strong>Active:</strong>
  <%= @price.active %>
</p>

<%= link_to 'Edit', edit_price_path(@price) %> |
<%= link_to 'Back', prices_path %> |
<%= link_to 'New', new_price_path %>
