<%= simple_form_for(@course) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :code %>
    <%= f.input :payment_identifier %>
    <%= f.input :price6 %>
    <%= f.input :price5 %>
    <%= f.input :price4 %>
    <%= f.input :price3 %>
    <%= f.input :price2 %>
    <%= f.input :price %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
  </div>
<% end %>
