<%= simple_form_for(@course) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: t('courses.name') %>
    <%= f.input :code, label: t('courses.code') %>
    <%= f.input :price6, label: t('courses.price6') %>
    <%= f.input :price5, label: t('courses.price5') %>
    <%= f.input :price4, label: t('courses.price4') %>
    <%= f.input :price3, label: t('courses.price3') %>
    <%= f.input :price2, label: t('courses.price2') %>
    <%= f.input :price, label: t('courses.price') %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
  </div>
<% end %>
