<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @course.code %>
</p>

<p>
  <strong>Payment identifier:</strong>
  <%= @course.payment_identifier %>
</p>

<p>
  <strong>Price6:</strong>
  <%= @course.price6 %>
</p>

<p>
  <strong>Price5:</strong>
  <%= @course.price5 %>
</p>

<p>
  <strong>Price4:</strong>
  <%= @course.price4 %>
</p>

<p>
  <strong>Price3:</strong>
  <%= @course.price3 %>
</p>

<p>
  <strong>Price2:</strong>
  <%= @course.price2 %>
</p>

<p>
  <strong>Price:</strong>
  <%= @course.price %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
