<h1>Listing result_centers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @result_centers.each do |result_center| %>
      <tr>
        <td><%= result_center.name %></td>
        <td><%= link_to 'Show', result_center %></td>
        <td><%= link_to 'Edit', edit_result_center_path(result_center) %></td>
        <td><%= link_to 'Destroy', result_center, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Result center', new_result_center_path %>
