<h1>Listing trainers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Bank</th>
      <th>Agency</th>
      <th>Account</th>
      <th>Operation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trainers.each do |trainer| %>
      <tr>
        <td><%= trainer.name %></td>
        <td><%= trainer.bank %></td>
        <td><%= trainer.agency %></td>
        <td><%= trainer.account %></td>
        <td><%= trainer.operation %></td>
        <td><%= link_to t("commands.show"), trainer %></td>
        <td><%= link_to t("commands.edit"), edit_trainer_path(trainer) %></td>
        <td><%= link_to t("commands.destroy"), trainer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trainer', new_trainer_path %>
