<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li><%= link_to 'Inscrições', new_subscription_path %></li>
  <li><%= link_to 'Turmas', course_classes_path %></li>
  <% if current_user.admin? %>
    <li><%= link_to 'Movimentos', movements_path %></li>
    <li><%= link_to 'Boletos', payment_documents_generate_path %></li>
    <li><%= link_to 'Recebimentos', payment_documents_payment_path %></li>
  <% end %>
  <li><%= link_to 'Perfil', edit_user_registration_path %></li>
  <li><%= link_to 'Sair', destroy_user_session_path, :method=>'delete' %></li>
<% end %>