<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @account.description %>
</p>

<p>
  <strong>Top account:</strong>
  <%= @account.top_account %>
</p>

<%= link_to t("commands.edit"), edit_account_path(@account) %> |
<%= link_to t("commands.back"), accounts_path %>
